@import '../../../styles/breakpoints';

.SquareAvatar{
    position:relative;
    display:flex;
    border:1px solid red;
    margin:1rem 0rem;
    
    .Avatar-Controllers{
        position:absolute;
        right:1vw;
        top:1vh;
        z-index:1;       
    }
    
    .InnerSquareAvatar{
        width:100%;
        text-decoration: none;
        margin:0.2rem 0.2rem;
        cursor: pointer;
       
        .imageAvatar{
            position:relative;
            width:100%;
            height:200px;
            overflow: hidden;
            border-radius: 10px;
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
    
            img{
                width:100%;
                object-fit: cover;

                &:hover{
                    transform: scale(2);
                    transition: 0.35s all ease-in-out;
                }
            }
    
            h2{
                position:absolute;
                width:100%;
                color:white;
                text-decoration: none;
                font-size: 7.5vw;
                font-weight: 700;
                padding:1rem;
                background-color: rgba(0, 0, 0, 0.26);    
            }
        }
    }
    
    
    @include media(">=tablet"){
         max-width:30vw;
         margin:1rem 1.2rem;


         .InnerSquareAvatar{
                display:flex;
                width:100%;
                text-decoration: none;
                margin:0.2rem 0.2rem;
                cursor: pointer;
    
                .imageAvatar{
                      // width:200px;
                      height:145px;
                      margin:0.3rem 0.5rem;
                      &:hover{
                        cursor:pointer;
                      }
                
                        h2{
                            font-size: 1.5rem;      
                        }
                }
            }
    }
    
        @include media(">=desktop"){
            // width: 23%;
            margin:1rem 0.4rem;

            .InnerSquareAvatar{
                display:flex;
                //width:20vw;
                text-decoration: none;
                margin:0.2rem 0.2rem;
                cursor: pointer;
    
                    .imageAvatar{
                        border:1px solid red;
                        width:200px;
                        height:125px;
                        cursor:pointer;
                        margin:0.3rem 0.5rem;

                        img:hover{
                            transform: scale(2);
                            transition: 0.35s all ease-in-out;
                        }
                
                
                        h2{
                            font-size: 1.5rem;
                            
                        }

                    }
        }
    
        }

        // @include media(">widescreen"){
            
        //     width:12vw;

    

        //     .InnerSquareAvatar{
        //         display:flex;
        //         width:100%;
        //         text-decoration: none;
        //         margin:0.2rem 0.2rem;
        //         cursor: pointer;
    
        //             .imageAvatar{
                  
        //                 height:120px;
        //                 cursor:pointer;
        //                 margin:0.3rem 0.5rem;
                
                
        //                 h2{
        //                     font-size: 1.5rem;
                            
        //                 }
                
                
        //             }

        // }
        // }
    
    }


.ProfileAvatar-CARD{
    width:120px;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1rem 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 7px -30px 19px -30px rgba(0,0,0,0.3);

    @include media(">=tablet"){
        padding:1rem;
        margin:1rem 1rem;
        width:145px;
    }

    @include media(">=desktop"){
       width:145px;
      
    }
}
    
    .RoundAvatarProfile{
        text-decoration: none;
        margin:1rem 1rem;
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        cursor:pointer;
        
        .ImageAvatarProfile{
            width:80px;
            height:80px;
            overflow: hidden;
            border-radius: 50%;
            margin:0.5rem;
            border:1px solid black;
            
            img{
                width:100%;
                object-fit: cover;
                object-position: top;
                transition: 0.35s all ease-in-out;
                
            }
        }
        .produceIcon {
            &:hover {
                background: #000;
            }
            img:hover{
                transform: scale(2);
                transition: 0.35s all ease-in-out;
            }
        }
        
    h2{
        color:black;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        padding:0.5rem;
       
    }


    @include media(">=tablet"){
        margin:1rem 0.6rem;

      

        .imageAvatar{
            width:100%;
            height:100%;
        }

        h2{
            margin:1rem 0rem;
            font-size: 1.2rem;
        }
    }

    @include media(">=desktop"){

        .imageAvatar{
            width:75%;
            height: 75%;
        }

    }

}

.RoundAvatar {
	text-decoration: none;
	margin: 1rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	.imageAvatar {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0.5rem;
		border: 1px solid black;

		img {
			width: 100%;
			object-fit: cover;
			object-position: top;
			transition: 0.35s all ease-in-out;
		}
	}
	.produceIcon {
		&:hover {
			background: #000;
		}
		img:hover {
			transform: scale(2);
			transition: 0.35s all ease-in-out;
		}
	}

	h2 {
		color: black;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		padding: 0.5rem;
	}

	@include media(">=tablet") {
		margin: 1rem 0.6rem;

		.imageAvatar {
			width: 100px;
			height: 100px;
		}

		h2 {
			margin: 1rem 0rem;
			font-size: 1.2rem;
		}
	}

	@include media(">=desktop") {
		.imageAvatar {
			max-width: 7rem;
			max-height: 7rem;
			min-width: 4rem;
			min-height: 4rem;
			height: 100%;
			width: 100%;
		}
	}
}

.CommentAvatar {
	text-decoration: none;
	margin: 1rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

	.comAvatar {
		width: 30px;
		height: 30px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0.5rem;
		border: 1px solid black;

		img {
			width: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	h2 {
		color: black;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
		padding: 0.5rem;
	}
}

.HeaderAvatar {
	width: 50%;
	text-decoration: none;
	margin: 1rem 0rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	.headAvatar {
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 50%;
		margin: 0.5rem;
		border: 1px solid black;

		img {
			width: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	h2 {
		color: black;
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 700;
		padding: 0.7rem;
	}

	@include media(">=tablet") {
		width: 25%;
		margin: 0rem 1rem;
	}

	@include media(">=desktop") {
		width: 25%;
		margin: 1rem 1rem;
	}
}

.AvatarR {
	// width: 100%;
	min-width: 4.2rem;
}
