

.Login_Outer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  



    h1{
        align-self: flex-start;
        font-size:5.5rem;
        margin:1rem 3rem;
    }
  
    form{
       align-self: center;
        height:450px;
        width:90%;


        .Input{
            margin:10rem 0rem;
        
        }

        .Button{
            background-color:black;
            color:white;
            border:none;
            font-size: 2rem;
            width:35%;
            height:10%;
            border-radius: 5px;
            cursor: pointer;

        }
    }



}