@import "../../../styles/breakpoints";

.Discover {

  .Wrapper {
    display: flex;
    margin: 0rem 0rem;
    width: 100%;
    height: 170px;


    .wrapper-image {
      width: 100%;
    }

    .d-gardens {
      background: url(../../../assets/images/gardens.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .d-seasonal {
      background: url(../../../assets/images/seasonal.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .d-recipes {
      background: url(../../../assets/images/recipes.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .d-beauty {
      background: url(../../../assets/images/beauty2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .d-community {
      background: url(../../../assets/images/community.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .d-events {
      background: url(../../../assets/images/buy.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .wrapper-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      width: 50%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        margin: 0.5rem 0.5rem;
      }

    }

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .Wrapper:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;

  }

  @include media(">=tablet") {
    grid-column: 1/9;
  }

  @include media(">=desktop") {
    grid-column: 3/11;

  }
}