@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';


.About{
    background-color: $black;
    display:grid;

    .about_images{
      padding:1rem;

      img{
        margin:2rem 0rem;
        border-radius: 5%;
      }

      .plant{
        width:100%;
      }

      .veg{
        width:100%;
      }

      .man{
        width:100%;
      }

    }

    .about_logo{
      width:100%;
      display:flex;
      justify-content: space-between;
      align-items: flex-start;
      margin:2rem 0rem;

      p{
        margin:0rem 2rem;
        align-self: flex-end;
        color:white;
        font-size: 3rem;
      }
      .logo{
        margin:0rem 2rem;
        align-self: flex-end;
        width:10%;
      }

    }
    

    .about_text{
      color:white;
      padding:2rem;
      margin:1rem 0rem;
      font-size: $font-size-base;


      h2{
        font-size: 2rem;
      }

      p{
        margin:2rem 0rem;
      }
    }



    @include media(">=tablet"){
      display:grid;
      grid-template-columns: repeat(8, 1fr);
      gap:2.5rem;

      .about_images{
        margin-top: 10rem;
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        width:100%;
        grid-column:2/8;
      
        .plant{
          margin:2rem 0rem;
          width:40%;
          
        }

        .veg{
          margin:2rem 0rem;
          width:40%;
          align-self:flex-end;
        }

        .man{
          margin:2rem 0rem;
          width:40%;
          align-self:flex-start;
        }
      
      }

      .about_logo{
        grid-column: 2/8;
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;

        p{
          margin:0rem 2rem;
          align-self: flex-end;
          color:white;
          font-size: 3rem;
        }
        .logo{
          align-self: flex-end;
          width:10%;
        }
        
      }


      .about_text{
        grid-column: 2/8;
        display:flex;
        flex-direction: column;
        align-content: flex-start;
        width:100%;
        margin-bottom:5rem;

        .inner_text{
          align-self: center;
          width:75%;
        }
      }

      .footer{
        grid-column: 1/9;
      }
    }


    @include media('>=desktop'){
        width:100%;
        grid-template-columns: repeat(12, 1fr);
       
        .about_images{
          width:100%;
          grid-column: 3/11;

          img{
            margin:0rem;
          }
        }

        .about_logo{
          width:100%;
          grid-column: 3/11;

          p{
            font-size:5rem;
          }

          .logo{
            margin:0rem;
          }

        }

        .about_text{

          p{
            font-size:2rem;
          }
          width:100%;
          grid-column: 3/11;
        }

        .footer{
          grid-column: 3/11;
        }

    }

}


