@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.LoginRegister{
    position:relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;

    .outer-Video{
        position: absolute;
        z-index: -100;
        top:0px;
        width:100%;
        height:100%;
        overflow: hidden;
        object-fit: cover;
    }

    .login-page, .welcome-page{
        background-color: white;
        width:85%;
        height:85%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
        border-radius:20px;
        box-shadow: 7px 10px 37px 3px rgba(0,0,0,0.61);
        -webkit-box-shadow: 7px 10px 37px 3px rgba(0,0,0,0.61);
        -moz-box-shadow: 7px 10px 37px 3px rgba(0,0,0,0.61);
        // a {
        //     cursor: pointer;
        // }
        .LoginForm, .RegisterForm {
            h1 {
                font-size: 4rem;
            }
        }
        .LoginForm {
            h1 {
                margin-bottom: 2em;
            }
        }
        .RegisterForm {
            overflow: scroll;
        }
    }

    .LogIn-Button{
        width:100%;
        position:relative;
        background-color: transparent;
        border:none;
        font-size: 1.6rem;
        color:black;
        cursor:pointer;
      }

      .LogIn-Button:after {
        content: "";
        position: absolute;
        display: inline;
        top: 3.4rem;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      .LogIn-Button:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    

    .welcome-page{
        position:absolute;

        img{
            border-radius: 50%;
            border:1px solid black;
        }
    }

    @include media(">=tablet"){
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        gap:2.5rem;
        overflow: hidden;

        .outer-Video{
            top: 100px;
            height:100vh;
            grid-column: 1/9;
        }

        .login-page{
            width:100%;
            grid-column: 3/7;
        }

    }

    @include media(">=desktop"){
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        gap:2.5rem;

        .outer-Video{
            top: 0;
            height:100vh;
            grid-column: 1/13;
        }

        .login-page{
            margin-top:5rem;
            width:100%;
            height: 90%;
            grid-column: 7/11;
        }

    }
 

}

