@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';



.LoginRegister{
    margin:2rem 0rem;
    color:white;
    width:100%;
    border:1px solid red;
    display:flex;

}