@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.header {
  display: grid;
  grid-template-columns: 1rem repeat(4, 1fr) 1rem;
  gap: 1rem;
  margin: 0;
  width: 100%;
  height: 4.5rem;

  z-index: 10;

  font-family: $font-family-Inter;
  font-weight: $font-weight-800;
  font-size: $font-size-md;
  color: $white;
  transition: $transition-slow;

  &-logo {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-column: 2/3;
    gap: .8rem;
    transition: $transition-slow;

    img {
      @include container(2.2rem, 2.2rem);
      object-fit: cover;
    }
  }

  .navbar {
    display: grid;
    grid-column: 3/6;
    align-items: center;
    justify-content: end;
    padding-left: 2rem;
    transition: $transition-slow;
    ul {
      @include flexContainer(row, flex-start, center, wrap);
      list-style: none;
      gap: 2rem;

      li {
        display: flex;

        &:nth-child(1) {
          padding-left: 0;
        }
        &:nth-child(3) {
          // padding-left: 3rem;
          transition: $transition-slow;
        }

        a {
          color: $white;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  @include media(">=tablet") {
      grid-template-columns: 2rem repeat(8, 1fr) 2rem;
      transition: $transition-slow;

      &-logo {
        grid-column: 3/4;
        transition: $transition-slow;
        img {
          @include container(2.6rem, 2.6rem);
          object-fit: cover;
        }
      }
    
      .navbar {
        grid-column: 5/9;
        padding-left: 0;
        transition: $transition-slow;
    
        ul {
          gap: 4rem;
          transition: $transition-slow;
    
          li {
            &:nth-child(3) {
              padding-left: 11rem;
              transition: $transition-slow;
            }
          }
        }
      }
  }

  @include media(">=desktop") {
    grid-template-columns: 2rem repeat(12, 1fr) 2rem;
    transition: $transition-slow;

    &-logo {
      grid-column: 4/5;
      transition: $transition-slow;

      img {
        @include container(2.6rem, 2.6rem);
        object-fit: cover;
      }
    }

    .navbar {
      grid-column: 6/12;
      padding-left: 0;
      transition: $transition-slow;

      ul {
        gap: 4rem;
        transition: $transition-slow;

        li {
          &:nth-child(3) {
            padding-left: 18rem;
            transition: $transition-slow;
          }
        }
      }
    }
  }
}