@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.video-wrapper {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    z-index: 5;
    opacity: 0;


    .overlay-content {
      position: absolute;
      top: 65%;
      left: 2rem;
      
      font-family: $font-family-Inter;
      font-size: $font-size-main;
      color: #fff;
      transition: 0.35s all ease-in-out;

      .logo {
        transform: translateY(120%);
        opacity: 0;
        width: 30rem;
        transition: 0.35s all ease-in-out;
      }

      .slogan {
        transform: translateY(-100%);
        padding-left: .7rem;
        z-index: 3;

        h1 {
          transform: translateY(-100%);
          letter-spacing: 5px;
          font-size: $font-size-h4;
          font-weight: $font-weight-900;
          transition: 0.35s all ease-in-out;
        }
      }
    }
    @include media(">=tablet") {
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      .overlay-content {
        grid-column: 2/9;
        transition: 0.35s all ease-in-out;
        top: 60%;
        left: 0;

        .logo {
            width: 40rem;
            transition: 0.35s all ease-in-out;
          }

        .slogan {

          h1{
            letter-spacing: 5px;
            font-size: 3rem;
          }
        }
      }
    }

    @include media(">=desktop") {
      grid-template-columns: repeat(12, 1fr);
      transition: 0.35s all ease-in-out;

      .overlay-content {
        grid-column: 3/12;
        transition: 0.35s all ease-in-out;
        top: 60%;

        .logo {
          width: 50rem;
          transition: 0.35s all ease-in-out;
        }
        .slogan {
          h1 {
            letter-spacing: 7px;
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}