@import "../../../styles/breakpoints";

.main {
	width: 100%;
	height: 100%;
	// position: relative;
	background: #000;
	padding-bottom: 2rem;

	.cta-section {
		width: 100%;
		height: 100vh;
		min-height: 74rem;
		position: relative;

		&-content {
			position: absolute;
			top: 70%;
			left: 2rem;
			overflow: hidden;

			.logo {
				transform: translateY(150%);
				width: 30rem;
			}

			.slogan {
				overflow: hidden;
				margin-top: 1rem;

				h1 {
					transform: translateY(-100%);
					letter-spacing: 4px;
					color: #fff;
					font-size: 2.2rem;
				}
			}
		}
	}

	.promo-section {
		width: 100%;
		height: 100%;
		padding: 1rem;

		.section {
			width: 100%;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin-bottom: 15rem;
			overflow: hidden;
			color: #fff;

			&-header {
				width: 100%;
				font-weight: 800;

				h1 {
					margin-bottom: 4rem;
					font-size: 5rem;
				}

				h2 {
					font-size: 3rem;
				}
			}

			&-cards {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				margin-block: 10rem;
				width: 100%;

				&-header {
					margin-bottom: 4rem;

				}

				.cards-list {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					margin-block: 4rem;
					gap: 2rem;

					.card {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						font-size: 1.4rem;
					}
				}
			}

			&-text {
				font-size: 2.2rem;
				line-height: 1.5;
			}
		}
	}

	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);

		.cta-section {
			grid-column: 2/8;

			&-content {
				top: 65%;
				left: 0;

				.logo {
					margin-bottom: 2rem;
					width: 40rem;
				}

				.slogan {
					h1 {
						letter-spacing: 5px;
						font-size: 3rem;
					}
				}
			}
		}

		.promo-section {
			grid-column: 2/8;
		}
	}

	@include media(">=desktop") {
		grid-template-columns: repeat(12, 1fr);

		.cta-section {
			grid-column: 3/11;

			&-content {
				top: 60%;

				.logo {
					width: 50rem;
				}

				.slogan {
					h1 {
						transform: translateY(-200%);
						letter-spacing: 7px;
						font-size: 3.8rem;
					}
				}
			}
		}

		.promo-section {
			grid-column: 3/11;
			padding: none;

			// .section {
			// 	grid-column: 3/11;
			// }
		}
	}
}