@import "../../../styles/breakpoints";

.main {
	width: 100%;
	height: 100%;
	// position: relative;
	background: #000;
	padding-bottom: 2rem;

	.cta-section {
		width: 100%;
		height: 100vh;
		min-height: 74rem;
		position: relative;

		&-content {
			position: absolute;
			top: 70%;
			left: 2rem;
			overflow: hidden;

			.logo {
				transform: translateY(150%);
				width: 30rem;
			}

			.slogan {
				overflow: hidden;
				margin-top: 1rem;

				h1 {
					transform: translateY(-100%);
					letter-spacing: 4px;
					color: #fff;
					font-size: 2.2rem;
				}
			}
		}
	}

	.promo {
		width: 100%;
		// height: 100vh;
		height: 100%;
		position: relative;

		&-content {
			width: 100%;
			min-height: 74rem;
			position: relative;
			background-color: #000;

			.promo-create,
			.promo-connect,
			.promo-welcome {
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 1rem;
				line-height: 1.2;
				color: #fff;

				h1 {
					text-align: center;
					font-size: 4rem;
					font-weight: 800;
					padding: 1rem;
					margin: 3rem 0;
				}

				h2 {
					text-align: center;
					font-size: 2.4rem;
					margin: 2rem 0rem;
				}

				img {
					width: 100%;
					border-radius: 1rem;
				}

				.hero-text {
					margin: 1rem 0rem;
					padding: 1rem;
				}
			}

			&-text {
				display: flex;
				justify-content: center;
				align-items: center;

			}
		}
	}

	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);

		.cta-section {
			grid-column: 2/8;

			&-content {
				top: 65%;
				left: 0;

				.logo {
					margin-bottom: 2rem;
					width: 40rem;
				}

				.slogan {
					h1 {
						letter-spacing: 5px;
						font-size: 3rem;
					}
				}
			}
		}

		.promo {
			// grid-column: 1/9;
			grid-column: 2/8;

			.promo-create,
			.promo-connect,
			.promo-welcome {

				min-height: 80rem;
				width: 100%;
				padding: 0;
				// margin: 10rem 0rem;

				h1 {
					font-size: 4rem;
					padding: 1rem;
					margin: 3rem 0;
				}

				h2 {
					font-size: 2.4rem;
					margin: 1rem 0rem 2rem;
				}

				.hero-text {
					width: 70%;
					margin: 3rem 0rem;
					padding: 1rem;

					p {
						font-size: 1.8rem;
						color: #fff;
					}
				}
			}
		}
	}

	@include media(">=desktop") {
		grid-template-columns: repeat(12, 1fr);

		.cta-section {
			grid-column: 3/11;

			&-content {
				top: 60%;

				.logo {
					width: 50rem;
				}

				.slogan {
					h1 {
						transform: translateY(-200%);
						letter-spacing: 7px;
						font-size: 3.8rem;
					}
				}
			}
		}

		.promo {
			grid-column: 3/11;

			.promo-create,
			.promo-connect,
			.promo-welcome {
				// border: 1px solid red;
				height: 100vh;
				margin-block: 10rem;

				h1 {
					font-weight: 800;
				}

				h2 {
					font-size: 3rem;
				}

				.hero-text {
					margin-top: 5rem;
					width: 100%;

					p {
						padding-inline: 1rem;
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}