


.Pages{

    .beauty{
            background: url(../../../assets/images/beauty.jpg);
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
        
    }

    
}