

.Pages{
    width:100%;

    .seasonal{
        background: url(../../../assets/images/seasonal.jpg);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
}