@import '../../../styles/breakpoints';



.Pages{

    .community{
        background: url(../../../assets/images/community.jpg);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    

}