@import "../../../styles/breakpoints";

.Pages {
	width: 100%;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	

	.community {
		background: url(../../../assets/images/community.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
	}

	width: 100%;

	.Hero {
		width: 100%;
		position: relative;

		&::after{
            content:"";
            width:100%;
            height:99.5%;
            position:absolute;
            top:0;
            left:0;
            background-color: rgba(0, 0, 0, 0.295);
        }
		

		.hero-image {
			width: 100%;
			height: 25rem;
			
		}

		.Hero-text {
			position: absolute;
			bottom: 0;
			font-weight: 800;
			width: 100%;
			padding: 0.5rem 0.5rem;
			color: white;
			z-index:1;

			h1 {
				font-size: 8rem;
				color: white;
			}

			p {
				font-size: 6rem;
				color: white;
				margin:0 1rem;
			}
		}
	}

	.Library-wrapper {
		width: 100%;
		margin: 0.5rem 0rem;

		.lib-wrapper-header {
			display: flex;
			align-items: center;
			margin-left: 1rem;

			h2 {
				font-size: 2rem;
			}

			p {
				font-size: 1.2rem;
				margin-left: 1rem;
				color: red;
			}
		}

		.Library-container {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 1rem;
		}

		.Library-container::-webkit-scrollbar {
			height: 5px;
		}

		.Library-container::-webkit-scrollbar-track {
			box-shadow: inset 0 0 4px rgba(128, 128, 128, 0);
			border-radius: 10px;
		}

		.Library-container::-webkit-scrollbar-thumb {
			background: rgb(99, 99, 99);
			border-radius: 20px;
		}
	}

	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 2.5rem;

		.Hero {
			grid-column: 1/9;

			.hero-image {
				width: 100%;
				height: 44rem;
			}

			.Hero-text {				
				top: 0;
				height:none;

				h1 {
					font-size: 12rem;
				}

				p {
					font-size: 10rem;
				}
			}
		}

		.Library-wrapper {
			grid-column: 2/8;

			.Library-container {
				overflow: hidden;
				overflow-x: scroll;
			}
		}
	}

	@include media(">=desktop") {
		grid-template-columns: repeat(12, 1fr);
		margin-top: 4.5rem;
		grid-row-gap: 5rem;

		.Hero {
			grid-column: 3/11;
			background-color: rgba(0, 0, 0, 0.247);

			.hero-image {
				position: relative;
				width: 100%;
			}

			.Hero-text {

				background-color: none;

				h1 {
					// margin: 0rem 2rem;
					font-size: 10vw;
					font-weight: bold;
					// line-height: 1.2;
				}

				p {
					margin: 0rem 2rem;
					font-size: 10rem;
				}
			}
		}

		// .Main-wrapper

		.Library-wrapper {
			grid-column: 3/11;
		}
	}

	.Pages::-webkit-scrollbar {
		display: none;
	}
}