@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';


.footer{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:2rem;
    margin:1rem 0rem;

    p{
        color:white;
        font-size: 3rem;
    }

   .logo{
       width:3rem;
   }

   @include media(">=tablet"){

   p{
       font-size:3.5rem;
   }
   .logo{
       width:4rem;
   }


   }

}



