.scroll-btn-container{

  .scroll-btn{
    position: fixed;
    bottom: 4rem;
    right: 8rem;
    cursor: pointer;
    z-index: 1450;

    stroke: white;
    fill: white;
    width: 3rem;
    height: 3rem;

  }
}