@import "../../../styles/breakpoints";

.header {
	position: fixed;
	transform: translateY(-100%);
	display: flex;
	justify-content: space-between;
	padding-inline: 1rem;
	width: 100%;
	height: 4.5rem;
	mix-blend-mode: difference;

	align-items: center;
	z-index: 101;

	&-logo {
		display: flex;
		align-items: center;

		a {
			color: #fff;
			text-decoration: none;
			img {
				width: 2.2rem;
				margin-right: 0.2rem;
			}
		}
	}

	.navbar {
		&-list {
			gap: 2rem;
			display: flex;
			list-style: none;

			&-item {
				a {
					text-decoration: none;
				}
			}
		}
	}
	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);

		padding-inline: 0;

		&-logo {
			grid-column: 2/3;

			img {
				width: 2.6rem;
			}
		}

		.navbar {
			grid-column: 4/8;

			&-list {
				gap: 4rem;
				&-item {
					&:nth-child(3) {
						margin-left: auto;
					}
				}
			}
		}
	}

	@include media(">=desktop") {
		grid-template-columns: repeat(12, 1fr);

		&-logo {
			grid-column: 3/4;
		}

		.navbar {
			grid-column: 6/11;
			padding-left: 0;

			&-list {
				gap: 6rem;
			}
		}
	}
}
