@import "../../../styles/breakpoints";

.Search {
	padding-top: 3rem;
	padding-inline: 1rem;
	min-height: calc(100vh - 9rem);
	background: #fff;

	.search-wrapper {
		background: #fff;
		border: 1px solid blue;
		margin-top: 2rem;
		overflow: scroll;

		.search-info {
			margin: 1rem;

			h2 {
				font-size: 2rem;
			}

			p {
				margin: 1rem 0rem;
			}
		}
	}

	@include media(">tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 2.5rem;

		.search-filter {
			grid-column: 2/8;
		}

		.search-wrapper {
			grid-column: 2/8;
			height: 75vh;
			margin-top: 0;
		}

		.search-collection {
			display: flex;
			flex-wrap: wrap;
		}
	}

	@include media(">desktop") {
		grid-template-columns: repeat(12, 1fr);

		.search-filter {
			grid-column: 3/11;
		}

		.search-wrapper {
			grid-column: 3/11;
			height: 60vh;
		}
	}
}