@import "../../../styles/breakpoints";

.Profile {
	padding: 1rem;

	.Profile-header {
		margin-top: 2rem;
		color: whitesmoke;
		border-radius: 1rem;
		// border: 1px solid rgb(190, 190, 190);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

		.Profile-editor {
			align-self: flex-end;
		}

		.Profile-info {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			margin: 2rem 0rem;

			img {
				width: 8rem;
				height: 8rem;

				border: 1px solid rgb(34, 34, 34);
				border-radius: 50%;

				@include media(">tablet") {
					width: 10rem;
					height: 10rem;
				}

				@include media(">desktop") {
					width: 20rem;
					height: 20rem;
				}
			}

			.Profile-text {
				width: 50%;
				color: #000;

				h1 {
					font-weight: 800;
				}

				p {
					font-size: 1.4rem;
					margin: 0.5rem 0rem;
				}

				h2 {
					// font-weight: 700;
					font-size: 1.2rem;
					color: #666;
				}
			}
		}

		.Profile-followers {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			font-size: 1.2rem;
			color: black;
			margin: 1rem 0rem;
		}
	}

	.Profile-Collection-Nav {
		padding: 0.5rem;
		margin: 2rem 0.5rem;

		button {
			font-size: 2rem;
			margin: 0rem 3rem;
			border: none;
			background-color: white;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.Profile-Collection {
		display: flex;
		justify-content: center;
		margin: 1rem 1rem;

		.Profile-Library {
			margin: 2rem 0rem;
			width: 100%;
			display: flex;
			align-items: flex-start;

			// card of each collection
			.posts-btn-wrapper {
				width: 20%;
				display: flex;
				flex-direction: column;
				justify-content: left;
				align-items: center;

				p {
					margin-top: 1rem;
					font-size: 1rem;
				}

				p:nth-child(2) {
					font-size: 1.3rem;
				}

				p:nth-child(3) {
					color: red;
					font-size: 0.9rem;
				}

				.post-btn-container {
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
					border: 1px solid rgba(128, 128, 128, 0.452);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;

					&:hover {
						cursor: pointer;
					}

					@include media(">=tablet") {
						width: 7rem;
						height: 7rem;

					}

					@include media(">=desktop") {
						width: 7rem;
						height: 7rem;
					}
				}

				.recipe {
					background-image: url("../../../assets/images/recipes.jpg");
				}

				.beauty {
					background-image: url("../../../assets/images/beauty.jpg");
				}

				.garden {
					background-image: url("../../../assets/images/gardens.jpg");
				}

				.artsCraft {
					background-image: url("../../../assets/images/pots.jpg");
				}

				.event {
					background-image: url("../../../assets/images/calendar.jpg");
				}
			}
		}
	}


	.Profile-Lib-Collection {
		margin: 1rem 0rem;
	}

	.Profile-Feed {

		.Profile-Feed-Header {
			background-color: #000000;
			color: white;
			// margin: 0rem 1rem;
			font-size: 2.6rem;
			border-radius: 10px;
			padding: 1rem;

		}
	}

	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 2.5rem;

		.Profile-inner {
			grid-column: 2/8;

			.Profile-header {
				margin-top: 4rem;

				.Profile-info {
					width: 90%;

					.Profile-text {
						font-size: 2.4rem;
					}
				}

				.Profile-followers {
					justify-content: space-evenly;
				}
			}

			.Profile-Collection-Nav {
				margin-top: 4rem;
			}

			.Profile-Lib-Collection {
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
			}

			.Profile-Feed {

				.Profile-Feed-Header {
					margin-top: 5rem;
					font-size: 2.6rem;
				}
			}
		}
	}

	@include media(">=desktop") {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 2.5rem;

		.Profile-inner {
			grid-column: 3/11;


			.Profile-text {
				font-size: 1.5rem;
			}
		}
	}
}