@import "../../../styles/breakpoints";

.Profile {
	position: relative;
	top: 1rem;

	.Profile-header {
		margin: 1rem;
		color: whitesmoke;
		border-radius: 10px;
		border: 1px solid rgb(190, 190, 190);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// box-shadow: 0px 10px 13px -7px #000000, 7px -30px 19px -30px rgba(0,0,0,0.3);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

		.Profile-editor {
			align-self: flex-end;
		}

		.Profile-info {
			justify-content: space-evenly;
			display: flex;
			align-items: center;
			width: 100%;
			margin: 2rem 0rem;

			img {
				width: 7rem;
				height: 7rem;
				
				border: 1px solid rgb(34, 34, 34);
				border-radius: 50%;

				@include media(">tablet") {
					width: 10rem;
					height: 10rem;
				}
				@include media(">desktop") {
					width: 20rem;
					height: 20rem;
				}
			}

			.Profile-text {
				width:50%;
				font-size: 1.6rem;
				color: black;

				h1 {
					font-weight: 800;
				}

				p {
					font-size: 1.5rem;
					margin: 0.5rem 0rem;
				}

				h2 {
					font-weight: 700;
				}
			}
		}

		.Profile-followers {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			font-size: 1.2rem;
			color: black;
			margin: 1rem 0rem;
		}
	}

	.Profile-Collection-Nav {
		padding: 0.5rem;
		margin: 2rem 0.5rem;

		button {
			font-size: 2rem;
			margin: 0rem 3rem;
			cursor: pointer;
			border: none;
			background-color: white;
		}
	}

	.Profile-Collection {
		display: flex;
		justify-content: center;
		margin: 1rem 1rem;

		.Profile-Library {
			margin: 2rem 0rem;
			width: 100%;
			display: flex;
			align-items: flex-start;

			// card of each collection
			.posts-btn-wrapper {
				width: 20%;
				display: flex;
				flex-direction: column;
				justify-content: left;
				align-items: center;

				p {
					margin-top: 1rem;
					font-size: 1rem;
				}
				p:nth-child(2) {
					font-size: 1.3rem;
				}

				p:nth-child(3) {
					color: red;
					font-size: 0.9rem;
				}

				.post-btn-container {
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
					border: 1px solid rgba(128, 128, 128, 0.452);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;

					&:hover {
						cursor: pointer;
					}

					@include media(">=tablet"){
						width:7rem;
						height:7rem;

					}

					@include media(">=desktop"){
						width:7rem;
						height:7rem;
					}
				}

				.recipe {
					background-image: url("../../../assets/images/recipes.jpg");
				}

				.beauty {
					background-image: url("../../../assets/images/beauty.jpg");
				}

				.garden {
					background-image: url("../../../assets/images/gardens.jpg");
				}

				.artsCraft {
					background-image: url("../../../assets/images/pots.jpg");
				}

				.event {
					background-image: url("../../../assets/images/calendar.jpg");
				}
			}
		}
	}


	.Profile-Lib-Collection {
		margin: 1rem 0rem;		
	}

	.Profile-Feed{

		.Profile-Feed-Header{
			background-color: #000000;
			color:white;
			margin:0rem 1rem;
			font-size: 3rem;
			border-radius: 10px;
			padding:1rem;

		}
	}

	@include media(">=tablet") {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 2.5rem;


  //! check with Murad:
		 // .Profile-inner {

	// @include media(">=tablet"){
	//	display:grid;
	//	grid-template-columns: repeat(8,1fr);
	//	gap:2.5rem;
	//	top:5rem;


		.Profile-inner{

			grid-column: 2/8;

			.Profile-header {
				// box-shadow: 0px 10px 13px -7px #000000,
				// 7px -30px 19px -30px rgba(0, 0, 0, 0.3);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.36);

        //! Murad's check:
				//.Profile-info {
					//img {
					//	width: 18%;
				//	}

					//.Profile-text {
					//	font-size: 2.5vw;

			.Profile-header{
				box-shadow: 0px 10px 13px -7px #000000, 7px -30px 19px -30px rgba(0,0,0,0.3);

				.Profile-info{
					width:90%;
			
					.Profile-text{
						font-size:2vw;

					}
				}

				.Profile-followers {
					justify-content: space-evenly;
				}
			}


			.Profile-Collection-Nav{
				margin-top:4rem;
			}

			.Profile-Lib-Collection{
				margin:3rem 0rem;
				justify-content: center;
				display: flex;
				flex-wrap: wrap;

			}

			.Profile-Feed{
				
				.Profile-Feed-Header{
					margin-top:5rem;
					font-size: 3rem;
				}

			}

		}
	}


	@include media(">=desktop"){
		position:relative;
		top:26rem;
		display:grid;
		grid-template-columns: repeat(12,1fr);
		gap:2.5rem;


		.Profile-inner{
			grid-column: 3/11;


			.Profile-text{
				font-size: 1.5rem;
			}
		}
	}
}
