@import "../../../styles/breakpoints";

.produce-nav {
	display: none;

	@include media(">=desktop") {
		margin-top: 4.5rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 2.5rem;
		background: #fff;

		&-container {
			grid-column: 3/11;

			.avatars {
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				// transform: translateY(0);
				// transition: cubic-bezier(1, 0, 0, 1) 0.6s;
			}
		}
	}
}
