@import './styles/variables';
@import './styles/mixins';
@import './styles/resets';
@import './styles/breakpoints';


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: $font-size-base;
  font-family: $font-family-Varela;

  input{
    height:3rem;
    border:none;
    background-color:transparent;
    outline: none;
    width:100%;
  
    &active{
        outline: none;  
    }
    &::placeholder {
      font: 1.5rem/3 sans-serif;
  }
    
  }


  .LokaW{
    width:100%;
    position:relative;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:white;
    cursor:pointer;
    mix-blend-mode: difference;
  }

  .LokaB{
    width:100%;
    position:relative;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:black;
    cursor:pointer;
    mix-blend-mode: difference;

  }

  .LokaW:after {
    content: "";
    position: absolute;
    display: inline;
    top: 2rem;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
  }

  .LokaB:after{
    content: "";
    position: absolute;
    display: inline;
    top: 2rem;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
  }

  .LokaW:hover:after, 
  .LokaB:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




}





