@import './styles/variables';
@import './styles/mixins';
@import './styles/resets';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-size: $font-size-base;
  background-color: black;
}